<!DOCTYPE html>
<html lang="en" manifest="../manifest.appcache">
<head>
  <title>Subway Reads | {{title}}</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="../index.min.css" />
  <link rel="icon" href="../simplye.png" sizes="300x300" type="image/png"/>
  <!-- Home screen icon in iOS -->
  <link rel="apple-touch-icon" href="../simplye.png" sizes="300x300" type="image/png"/>
  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsProxyObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://api.nypltech.org/api/v0.1/ga-proxy/javascript/gaproxy.js','gap');

    gap('init', 'SubwayReads');
    gap('create', 'UA-1420324-145', {
      cookieExpires: 60 * 60 * 24 * 7 * 14 // 14 weeks
    });
    gap('send', 'pageview');
  </script>
</head>
<body>
  <nav id="global-nav" aria-label="Main navigation">
    {{xIconBtn}}
    <ul class="tabs">
      <li><a href="../">Subway Library</a></li>
      {{category_nav}}
    </ul>
    <div class="nav-simplye">
      {{callOutText}}
      {{downloadAppBtns}}
    </div>
  </nav>
  <div class="wrapper">
    <header>
      <div class="header-wrapper">
        <a href="../" class="logo">
          {{logo}}
          <h1>Subway Library</h1>
        </a>
        {{menuOpenBtn}}
      </div>
    </header>

    <main>
      <div role="dialog" aria-labelledby="age-check-title" class="age-check" style="display: none">
        <div>
          <h2 id="age-check-title">You must be 13 or older to read all books.</h2>
          <h3>How old are you?</h3>
          <div class="age-check-buttons">
            <button class="age-check-under"><h2>Under 13</h2></button>
            <button class="age-check-over"><h2>13 or Older</h2></button>
          </div>
        </div>
      </div>
      <div class="book">
        {{book_desc_html}}
      </div>
    </main>
    <footer>
      <div class="call-to-action book-details-page">
        <p>Want more free e-books?</p>
        {{callOutText}}
        {{downloadAppBtns}}
        <div class="action-links">
          <p>Learn more about <a href="#">SimplyE</a>, <a href="#">Queens Library</a>, and
            <a href="#">Brooklyn Library</a> apps.
          </p>
        </div>
      </div>
      <div class="deep-footer">
        {{footerLogos}}
        <p>The New York Public Library<br /><br />
          <a href="../license.html">Terms and Conditions</a> &bull;
          <a href="../about.html">About Us</a> &bull;
          <a href="../nyplprivacypolicy.html">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="../main.min.js"></script>
</body>
</html>
