html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.2em;
}
a {
  color: black;
  text-decoration: none;
}
a:focus, a:hover, input:focus {
  /*outline-color: #8dc740;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: 3px;*/
  outline-color: none;
  outline-style: none;
  outline-width: 0;
  outline-offset: 0;
}
body {
  overflow-x: hidden;
}

header {
  padding: 5px 15px 15px;
  text-align: left;
  background: #f8f8f8;
  color: #000;
  height: 40px;

  h1 {
    margin: 10px;
    display: inline-block;
    vertical-align: super;
  }
}

a.logo {
  /*float: left;*/
  margin: 5px 0 0;
  display: inline-block;

  svg {
    height: 30px;
  }

  img {
    width: 65px;
  }
}
nav {
  display: inline-block;
  float: right;
}
.learn-more-btn {
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 5px 15px;
  border-radius: 25px;
}
.tabs {
  margin: 0;
  padding: 0;
}
.tabs li {
  display: inline-block;
  cursor: pointer;
  text-transform: uppercase;
  font-weight: bold;
  width: 100%;
  border-bottom: 1px solid #ccc;
}
.tabs li a {
  color: black;
  height: 20px;
  text-decoration: none;
  display: block;
  padding: 10px 15px 5px;
}
.tabs li.active a {
  border-bottom: 3px solid black;
}

main {
  padding-bottom: 40px;
  overflow: hidden;
}
.banner {
  padding: 0 15px 40px;
  font-size: 1.1em;
  background: #f8f8f8;
  color: #000;
  display: inline-block;
  width: 100%;

  p {
    font-weight: 100;
    font-size: 2.25rem;
    padding: 0;
    width: 92%;
    margin-top: 10px;
  }

  a {
    text-transform: uppercase;
    color: #61a60e;
    font-weight: 900;
  }
}
@media (min-width: 960px) {
  .banner p {
    margin: 15px auto 0;
    max-width: 70rem;
    width: 100%;
  }
  .banner a {
    display: block;
    margin: 20px auto 0;
    max-width: 70rem;
  }
  main ul,
  main .book-category {
    max-width: 70rem;
    margin: 0 auto;
  }
  main .book {
    max-width: 60rem;
    margin: 0 auto;
  }
}

.books a {
  // display: table-cell;
}
.books a .title {
  font-weight: 900;
  font-size: 1.2em;
  margin-bottom: .5rem;
}
.books a .author {
  font-size: 1.2rem;
  font-weight: 100;
}
.books .adult {
  /*display: none;*/
}
.books img {
  // width: 120px;
  height: 180px;
}
.books .info {
  margin-top: 5px;
}

.book .book-details {
  text-align: center;
  padding-bottom: 30px;
}
.book-details img {
  margin-top: 20px;
  width: 200px;
}
.book-details h2 {
  font-size: 1.6em;
  font-weight: 900;
}
.book-details .info div {
  line-height: 2em;
}
.book .read-now {
  display: inline-block;
  border-radius: 5px;
  background: #468028;
  color: #fff;
  padding: 10px;
  width: 130px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.book .book_desc {
  padding: 50px 15px 0;
}
.social-media-share {
  text-align: center;
}
.social-media-share li {
  display: inline-block;
}
.social-media-share a {
  width: 50px;
  height: 50px;
  padding: 0 5px;
  display: block;
}
.social-media-share svg {
  width: 40px;
  height: 40px;
  fill: #61a60e;
}

.back-to-category {
  text-align: center;
  display: block;
  margin-top: 30px;
  font-size: 1.1em;
  font-weight: bold;
}

.book .read-time {
  text-align: center;
}
.description-text {
  line-height: 1.8em;
  font-size: 1.1em;
}
.age-check {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.age-check > div {
  position: fixed;
  top: 25%;
  left: calc(20% - 22px);
  right: calc(20% - 22px);
  width: 60%;
  background-color: white;
  border: 2px solid black;
  z-index: 200;
  padding: 20px;
}
.age-check button {
  border: 2px solid #113154;
  color: #113154;
  background-color: white;
  font-weight: bold;
  padding: 3px 12px;
  margin: 3px;
  cursor: pointer;
}
.age-check button:hover {
  background-color: #eee;
}
.app {
  text-align: center;
}
.app img {
  height: 35px;
}
.app h3 img {
  height: 27px;
  vertical-align: bottom;
  margin-bottom: -4px;
}
.app .hide-on-android, .app .hide-on-ios {
  margin-left: 5px;
  cursor: pointer;
}

nav#global-nav {
  bottom: 0;
  max-width: 300px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -300px;
  width: 100%;
  z-index: 0;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background: #fff;
  z-index: 100;
}

#global-nav h3 {
  padding: 0 10px;
}

.nav-simplye {
  margin: 20px 50px 0 15px;
  font-size: 1.1em;
}

.nav-simplye img {
  width: 100px;
}

#menu-button-open {
  border: none;
  background: #f8f8f8;
  float: right;

  .menu-text {
    float: left;
    padding: 15px 5px;
    text-transform: uppercase;
    color: #61a60e;
    font-size: 1rem;
  }
}
@media (min-width: 960px) {
  #menu-button-open .menu-text {
    display: block;
    position: relative;
    margin: 0px 35px 0px 0;
    overflow: visible;
  }
}
#menu-button-open svg {
  height: 20px;
  margin: 10px 5px;
  color: #61a60e;
  fill: #61a60e;
}
#menu-button-close {
  float: right;
  background: #fff;
  border: none;
}
#menu-button-close svg {
  height: 20px;
  margin: 10px 10px 5px;
  color: #61a60e;
  fill: #61a60e;
}

/* Homepage */
.category-lane {
  margin: 10px 15px 0;
  list-style-type: none;
}
.category-header {
  margin: 0 0 5px;
}
.category-header a {
  display: block;
}
.category-header h2 {
  display: inline-block;
  font-size: 1.75rem;
  margin: 0;
}
.category-header span {
  display: inline-block;
  float: right;
  text-transform: uppercase;
  font-size: 110%;
  font-weight: 900;
  color: #61a60e;
}
.lane-container {
  width: 100%;
  height: 320px;
  overflow: auto;
}

/* Category page */
.category-title {
  padding: 15px;
  text-align: center;
  font-size: 1.4em;
}
.book-category li {
  width: 100%;
  border-top: 1px solid #ddd;
  display: block;
  padding: 15px;
}
.book-category img {
  display: inline-block;
  width: 120px;
}
.book-category .info {
  display: inline-block;
  vertical-align: top;
  margin: 0px 10px;
  width: 55%;
}
.book-category .info h2 {
  margin-top: 0;
}
.book-category .info .book-links {
  margin-top: 20px;
}
.book-links a:first-child {
  padding: 5px 20px;
  border-radius: 5px;
  border: 1px solid #468028;
}
.book-links a:last-child {
  color: #468028;
  margin-left: 3%;
}

/* home page */
.books {
  // display: table;
  // table-layout: fixed;
  width: 100%;
}
.books li {
  // width: 120px;
  // height: 120px;
  display: table-cell;
  vertical-align: top;
  padding-right: 10px;
}
.call-to-action.book-details-page {
  padding-bottom: 70px;
}
.call-to-action {
  background: #f8f8f8;
  text-align: center;
  margin: 0 0 -15px;
  padding: 20px 0;
  max-width: 50rem;
  margin: 0 auto;
}
.call-to-action p {
  line-height: 1.2em;
  padding: 5px 25px;
  margin: 0;
}
.call-to-action p:nth-child(1) {
  font-size: 1.8rem;
  font-weight: 900;
}
.call-to-action p:nth-child(2) {
  font-size: 1.4rem;
  font-weight: 100;
}
.call-to-action img {
  width: 100px;
}

.download-link svg {
  width: 150px;
}
.google-badge .badge,
.apple-badge .badge {
  fill: #538e0c;
}
.google-badge .mark,
.apple-badge .mark > path {
  fill: #fff;
}

.call-to-action .download-link {
  margin: 10px 0;
}
.call-to-action .action-links {
  text-align: center;
}
.call-to-action .action-links a {
  font-weight: 900;
  text-decoration: underline;
  display: block;
  margin-top: 15px;
}

body.active {
  position: fixed;
}

body.active #global-nav {
  -moz-transform: translateX(-300px);
  -ms-transform: translateX(-300px);
  -webkit-transform: translateX(-300px);
  transform: translateX(-300px);
}

ul {
  margin: 0;
  padding: 1em 0 0;
}

#wrapper {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;

  // Important detail for mobile:
  //   container must be positioned on top of nav
  z-index: 1;

  // slide out container when .active class is added by JS
  body.active & {
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
    transform: translateX(-220px);
  }
}

main.about {
  padding: 0;
  line-height: 2rem;
  /* Not a fan of this: */
  margin: 0 0 -15px;
}
.about h2 {
  text-align: center;
  font-size: 1.7rem;
}
.about-container {
  padding: 0 30px;
  max-width: 60rem;
  margin: 0 auto;
}
.about-container p {
  font-size: 1.3rem;
}
.about-container h3 {
  margin: 30px 0;
  text-align: center;
  font-size: 1.5rem;
}
.about-container .about-simplye {
  width: 60%;
  margin: 0 auto;
  display: block;
}
.about-container .about-simplye.desktop {
  display: none;
}
@media (min-width: 960px) {
  .about-container .about-simplye {
    width: 30%;
    display: inline-block;
    left: 20%;
    position: relative;
    margin-bottom: -10px;
  }
  .about-container .about-simplye.desktop {
    display: inline-block;
  }
}

.about .about-download-app {
  display: inline-block;
  background: #f8f8f8;
  padding: 10px 30px;
  font-size: 1.3rem;
}
footer {
  background: #f8f8f8;
  width: 100%;
}
footer .share-app {
  background: #f8f8f8;
  color: #000;
  text-align: center;
  padding-bottom: 50px;
}
footer .share-app h2 {
  padding: 20px 15px;
  font-size: 1.4rem;
}
footer .share-app ul {
  padding: 0;
}
footer .share-app li {
  display: inline-block;
}
footer .share-app a {
  width: 50px;
  height: 50px;
  padding: 0 5px;
  display: block;
}
footer .share-app svg {
  width: 40px;
  height: 40px;
  fill: #61a60e;
}
footer .deep-footer {
  background: #2e343b;
  color: #DEDEDE;
  text-align: center;
  padding: 20px 15px;
  font-size: 1.1rem;
}
footer .deep-footer svg {
  height: 30px;
  fill: #DEDEDE;
}
footer .deep-footer p {
  margin: 0;
  padding: 10px 15px;
}
footer .deep-footer a {
  color: #DEDEDE;
  display: inline;
}
footer .footer-logo span {
  display: inline-block;
  margin: 0 5px;
  text-align: left;
}
.about .sponsors {
  height: 100%;
  margin: 20px auto;
  max-width: 50rem;
}

footer .sponsors {
  height: 100%;
  margin: 20px auto;
  max-width: 70rem;
}
.about .sponsors .container,
footer .sponsors .container {
  display: flex;
  flex-wrap: wrap;
}
.about .sponsors .container {
  width: 90%;
  margin: 0 auto;
}
.about .sponsors span,
footer .sponsors span {
  display: inline-block;
  flex-grow: 1;
  height: 50px;
  width: calc(100% * (1/3) - 15px);
  padding: 10px 5px;
}
.about .sponsors span {
  padding: 10px 0;
}
.about .sponsors svg,
footer .sponsors svg {
  height: 40px;
  width: 100%;
  fill: #DEDEDE;
  margin: 5px 0;
}
.about .sponsors svg {
  fill: #333;
}
footer .sponsors span:first-child {
  border-bottom: 1px solid #DEDEDE;
}
.about .sponsors span:nth-child(2) {
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
  padding: 10px 15px;
}
footer .sponsors span:nth-child(2) {
  border-left: 1px solid #DEDEDE;
  border-bottom: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
}
footer .sponsors span:nth-child(2) svg {
  height: 25px;
  padding-top: 10px;
}
footer .sponsors span:nth-child(3) {
  border-bottom: 1px solid #DEDEDE;
}
footer .sponsors span:nth-child(5) {
  border-left: 1px solid #DEDEDE;
  border-right: 1px solid #DEDEDE;
}
footer .sponsors span:nth-child(5) svg {
  height: 28px;
  padding-top: 8px;
}
@media (min-width: 960px) {
  footer .sponsors span {
    width: calc(100% * (1/6) - 15px);
  }
  footer .sponsors span:first-child,
  footer .sponsors span:nth-child(2),
  footer .sponsors span:nth-child(3) {
    border-bottom: none;
  }
  footer .sponsors span:nth-child(3) {
    border-right: 1px solid #DEDEDE;
  }
  footer .sponsors span:nth-child(6) {
    padding-left: 20px;
  }
}

/* Utilities */
.visuallyHidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
