html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
h1 {
  font-size: 1.8em;
}
h2 {
  font-size: 1.2em;
}
a {
  color: black;
  text-decoration: none;
}
a:focus, a:hover, input:focus {
  outline-color: #8dc740;
  outline-style: solid;
  outline-width: 3px;
  outline-offset: 3px;
}
body {
  overflow-x: hidden;
}
.color-bar {
  position: fixed;
  background: linear-gradient(to bottom, #8dc740, #8dc740 33%, #113154 33%, #113154 66%, #5c5c5c 66%, #5c5c5c);
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
}
header {
  padding: 5px;
  text-align: center;
}
header h1 {
  margin: 10px;
  display: inline-block;
}
a.logo {
  float: left;
  margin: 5px;
}

.logo img {
  width: 65px;
}
nav {
  display: inline-block;
  float: right;
}
.banner {
  background: #0e9bd0;
  color: #fff;
  text-align: center;
  padding: 10px 40px 20px;
  font-size: 1.1em;
}
.learn-more-btn {
  color: #fff;
  border: 1px solid #fff;
  text-align: center;
  padding: 5px 15px;
  border-radius: 25px;
}
.tabs {
  margin: 0;
  padding: 0;
}
.tabs li {
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  height: 20px;
  padding: 5px;
  text-transform: uppercase;
  font-weight: bold;
}
.tabs li.active a {
  border-bottom: 3px solid black;
}
main {
  padding-bottom: 40px;
  overflow: hidden;
  /*margin: 15px 10px;*/
}
.books {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
}
.books a {
  margin: 5px;
  cursor: pointer;
  width: 100px;
  overflow: hidden;
  text-align: center;
}
.books a .title {
  font-weight: bold;
}
.books .adult {
  display: none;
}
.books img {
  width: 100px;
}
.books .info {
  position: relative;
}
.books .info::before {
  content: "READ";
  background-color: #113154;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  padding: 1px 30px;
  border-radius: 3px;
  position: absolute;
  left: 7px;
  top: -20px;
}

.book .book-details {
  text-align: center;
  background: #eee;
  padding-bottom: 30px;
}
.book-details img {
  margin-top: 20px;
}
.book .read-now {
  display: inline-block;
  border-radius: 25px;
  background: #000;
  color: #fff;
  padding: 10px;
  width: 130px;
  position: absolute;
  text-align: center;
  left: 50%;
  transform: translateY(-50%) translateX(-50%);
}
.book .book_desc {
  padding: 60px 15px;
}
.book .read-time {
  text-align: center;
}

.age-check {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.age-check > div {
  position: fixed;
  top: 25%;
  left: calc(20% - 22px);
  right: calc(20% - 22px);
  width: 60%;
  background-color: white;
  border: 2px solid black;
  z-index: 200;
  padding: 20px;
}
.age-check button {
  border: 2px solid #113154;
  color: #113154;
  background-color: white;
  font-weight: bold;
  padding: 3px 12px;
  margin: 3px;
  cursor: pointer;
}
.age-check button:hover {
  background-color: #eee;
}
.app {
  text-align: center;
}
.app img {
  height: 35px;
}
.app h3 img {
  height: 27px;
  vertical-align: bottom;
  margin-bottom: -4px;
}
.app .hide-on-android, .app .hide-on-ios {
  margin-left: 5px;
  cursor: pointer;
}
footer p {
  position: fixed;
  bottom: 0;
  width: 100%;
  margin: 0;
  background-color: #252420;
  color: #52524f;
  text-align: center;
  padding: 5px;
}

nav#global-nav {
  bottom: 0;
  max-width: 220px;
  overflow: auto;
  position: fixed;
  top: 0;
  right: -220px;
  width: 100%;
  z-index: 0;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;
  background: #fff;
  z-index: 100;
}

#global-nav h3 {
  padding: 0 10px;
}

#menu-button-close {
  float: right;
}

body.active #global-nav {
  -moz-transform: translateX(-220px);
  -ms-transform: translateX(-220px);
  -webkit-transform: translateX(-220px);
  transform: translateX(-220px);
}

ul {
  margin: 0;
  padding: 1em 0 0;

  li {
    border-bottom: 1px solid #474747;
    padding: 0;
    margin: 0;
    width: 100%;

    a {
      display: block;
      color: #fff;
      text-decoration: none;
      padding: 1.5em 0 1.5em 2em;

      &:hover,
      &:focus {
        background-color: #474747;
      }
      &:active {
        color: #9fbf00;
      }
    }
  }
}


#wrapper {
  position: relative;
  top: 0;
  right: 0;
  width: 100%;
  -moz-transition: all 300ms;
  -o-transition: all 300ms;
  -webkit-transition: all 300ms;
  transition: all 300ms;

  // Important detail for mobile:
  //   container must be positioned on top of nav
  z-index: 1;

  // slide out container when .active class is added by JS
  body.active & {
    -moz-transform: translateX(-220px);
    -ms-transform: translateX(-220px);
    -webkit-transform: translateX(-220px);
    transform: translateX(-220px);
  }
}

/* Utilities */
.visuallyhidden {
  border: 0;
  clip: rect(0 0 0 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px
}
