html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Helvetica, sans-serif;
  font-size: 12px;
}
h1 {
  font-size: 1.6em;
}
h2 {
  font-size: 1.2em;
}
a {
  color: black;
  text-decoration: none;
}
a:focus, a:hover, input:focus {
  outline-color: #8dc740;
  outline-style: solid;
  outline-width: 3px; 
  outline-offset: 3px;
}
body {
  display: flex;
  flex-direction: column;
  overflow: hidden;
}
header {
  padding: 20px;
  text-align: center;
}
header h1 {
  margin: 0;
}
header::before {
  content: " ";
  background: linear-gradient(to bottom, #8dc740 33%, #113154 33%, #5c5c5c 33%);
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  height: 6px;
}
.tabs {
  margin: 0;
  padding: 0;
}
.tabs li {
  display: inline-block;
  margin: 0px 5px;
  cursor: pointer;
  height: 20px;
  padding: 5px;
  font-variant: small-caps;
  font-weight: bold;
}
.tabs li.active {
  text-decoration: underline;
}
main {
  flex: 1;
  width: 100%;
  overflow: hidden;
  position: relative;
}
.books {
  display: inline-flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: flex-start;
  height: 100%;
  position: absolute;
  overflow-y: scroll;
  text-align: left;
  margin: 0px 10px;
}
.books a {
  margin: 5px;
  cursor: pointer;
  width: 100px;
  overflow: hidden;
  text-align: center;
}
.books a .title {
  font-weight: bold;
}
.books .adult {
  display: none;
}
.books img {
  width: 100px;
}
.books .info {
  position: relative;
}
.books .info::before {
  content: "OPEN";
  background-color: #113154;
  color: white;
  font-size: 0.7em;
  font-weight: bold;
  padding: 1px 30px;
  border-radius: 3px;
  position: absolute;
  left: 7px;
  top: -20px;
}
.age-check {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  z-index: 100;
  padding: 0;
  text-align: center;
  background-color: rgba(0, 0, 0, 0.3);
}
.age-check > div {
  position: fixed;
  top: 25%;
  left: calc(20% - 22px);
  right: calc(20% - 22px);
  width: 60%;
  background-color: white;
  border: 2px solid black;
  z-index: 200;
  padding: 20px;
}
.age-check button {
  border: 2px solid #113154;
  color: #113154;
  background-color: white;
  font-weight: bold;
  padding: 3px 12px;
  margin: 3px;
  cursor: pointer;
}
.age-check button:hover {
  background-color: #eee;
}
footer {
  text-align: center;
}
footer img {
  height: 35px;
}
footer h3 img {
  height: 20px;
}
footer .hide-on-android, footer .hide-on-ios {
  margin-left: 5px;
  cursor: pointer;
}
footer p {
  width: 100%;
  margin: 0;
  background-color: #252420;
  color: #52524f;
  padding: 5px;
}
