<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">
<head>
  <title>Subway Reads</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="index.css" />
  <link rel="icon" href="simplye.png" sizes="300x300" type="image/png"/>
  <!-- Home screen icon in iOS -->
  <link rel="apple-touch-icon" href="simplye.png" sizes="300x300" type="image/png"/>
  <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsProxyObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://api.nypltech.org/api/v0.1/ga-proxy/javascript/gaproxy.js','gap');

     gap('init', 'SubwayReads');
     gap('create', 'UA-1420324-145', {
       cookieExpires: 60 * 60 * 24 * 7 * 14 // 14 weeks
     });
     gap('send', 'pageview');
  </script>
</head>
<body>
  <nav id="global-nav" aria-label="Main navigation">
    <button aria-controls="global-nav" aria-haspopup="true" tabindex="2" id="menu-button-close">
      <span class="menu-icon" aria-hidden="true">
        <svg width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
        <path d="M17.91272,15.97339l5.65689-5.65689A1.32622,1.32622,0,0,0,21.694,8.44093L16.04938,14.0856l-5.65082-5.725A1.32671,1.32671,0,1,0,8.51,10.22454l5.66329,5.73712L8.43038,21.7046a1.32622,1.32622,0,1,0,1.87557,1.87557l5.73088-5.73088,5.65074,5.72441a1.32626,1.32626,0,1,0,1.88852-1.86261Z"/>
        </svg>
      </span>
    </button>
    <ul class="tabs">
      <li><a href=".">Library Underground</a></li>
      {{category_nav}}
    </ul>
    <div class="nav-simplye">
      <p>Get free access to over 300,000 eBooks with SimplyE.</p>
      <p>Download now</p>
      <div>
        <a href="https://itunes.apple.com/us/app/nypl-simplye/id1046583900?mt=8" title="Download on the App Store"><img src="apple_badge.png" alt="Download on the App Store"/></a>
        <a href="https://play.google.com/store/apps/details?id=org.nypl.simplified.simplye&hl=en" title="Get it on Google Play"><img src="google_badge.png" alt="Get it on Google Play"/></a>
      </div>
    </div>
  </nav>
  <div class="wrapper">
    <header>
      <a href="." class="logo">
        <img src="simplyE_logo.png" alt="SimplyE" />
      </a>
      <button aria-controls="global-nav" aria-haspopup="true" tabindex="2" id="menu-button-open">
        <span class="menu-icon" aria-hidden="true">
          <svg width="32" height="32" viewBox="0 0 32 32" class="svgIcon">
            <path d="M26.22029,10.40244H5.77971a1.09221,1.09221,0,1,1,0-2.18441H26.22029A1.09221,1.09221,0,1,1,26.22029,10.40244Z"/>
            <path d="M26.22029,16.95568H5.77971a1.09221,1.09221,0,0,1,0-2.18441H26.22029A1.09221,1.09221,0,0,1,26.22029,16.95568Z"/>
            <path d="M26.22029,23.782H5.77971a1.09221,1.09221,0,1,1,0-2.18441H26.22029A1.09221,1.09221,0,1,1,26.22029,23.782Z"/>
          </svg>
        </span>
        <!-- <span class="menu-text visuallyHidden">Menu</span> -->
      </button>
    </header>

    <main>
      <div class="banner">
        <h1>Library Underground</h1>
        <p>A collection of over 300 free books and short reads curated by The Public
        Libraries of New York City.</p>
      </div>

      <div role="dialog" aria-labelledby="age-check-title" class="age-check" style="display: none">
        <div>
          <h2 id="age-check-title">You must be 13 or older to read all books.</h2>
          <h3>How old are you?</h3>
          <div class="age-check-buttons">
            <button class="age-check-under"><h2>Under 13</h2></button>
            <button class="age-check-over"><h2>13 or Older</h2></button>
          </div>
        </div>
      </div>

      {{all_books}}
    </main>
    <footer>
      <div class="share-app">
        <h2>Share Underground Library</h2>
      </div>
      <div class="deep-footer">
        <p>Powered by SimplyE</p>
        <p>&copy; The New York Public Library</p>
        <p>Terms of Service | About Us</p>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="/main.js"></script>
</body>
</html>
