<!DOCTYPE html>
<html lang="en" manifest="manifest.appcache">
<head>
  <title>Subway Library</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <meta  property="og:type" content="website" />
  <meta  property="og:site_name" content="Subway Library" />
  <meta  property="og:title" content="Subway Library" />
  <meta  property="og:image" content="./iphone_simplyE.png" />
  <meta  property="og:description" content="Subway Library | With Subway Library you can read books, excerpts, and short stories from NYC public libraries." />
  <meta  property="og:url" content="http://subwaylibrary.com" />
  <meta  name="twitter:card" content="summary_large_image" />
  <meta  name="twitter:site" content="@nypl" />
  <meta  name="twitter:creator" content="@nypl" />
  <meta  name="twitter:title" content="Subway Library" />
  <meta  name="twitter:description" content="Subway Library | With Subway Library you can read books, excerpts, and short stories from NYC public libraries." />
  <meta  name="twitter:image" content="./iphone_simplyE.png" />

  <link rel="stylesheet" href="index.min.css" />
  <link rel="icon" href="simplye.png" sizes="300x300" type="image/png"/>
  <!-- Home screen icon in iOS -->
  <link rel="apple-touch-icon" href="simplye.png" sizes="300x300" type="image/png"/>
  <script>
     (function(i,s,o,g,r,a,m){i['GoogleAnalyticsProxyObject']=r;i[r]=i[r]||function(){
     (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
     m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
     })(window,document,'script','https://api.nypltech.org/api/v0.1/ga-proxy/javascript/gaproxy.js','gap');

     gap('init', 'SubwayReads');
     gap('create', 'UA-1420324-145', {
       cookieExpires: 60 * 60 * 24 * 7 * 14 // 14 weeks
     });
     gap('send', 'pageview');
  </script>
</head>
<body>
  <nav id="global-nav" aria-label="Main navigation">
    {{xIconBtn}}
    <ul class="tabs">
      {{category_nav}}
    </ul>
    <div class="nav-simplye">
      {{callOutText}}
      {{downloadAppBtns}}
    </div>
  </nav>
  <div class="wrapper">
    <header>
      <a href="." class="logo">
        {{logo}}
        <h1>Subway Library</h1>
      </a>
      {{menuOpenBtn}}
    </header>

    <main>
      <div class="privacy-policy-page">
        <p><strong>Simply E Privacy Statement</strong></p>

        <p>The New York Public Library’s SimplyE app makes it easy for you to access more than 120,000
        free ebook titles in just a few short steps. SimplyE is consistent with NYPL’s privacy policy,
        which can be found at <a href="http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy">
        http://www.nypl.org/help/about-nypl/legal-notices/privacy-policy</a>. We encourage you to read it
        carefully. In keeping with our privacy policy, the Library may provide your personal information as
        well as usage data to third-party providers who help NYPL deliver e-book content.</p>
      </div>
    </main>
    <footer>
      <div class="deep-footer">
        {{footerLogos}}
        <p>
          <a href="https://www.nypl.org/help/about-nypl/legal-notices/website-terms-and-conditions">Terms and Conditions</a> &bull;
          <a href="about.html">About Us</a> &bull;
          <a href="privacypolicy.html">Privacy Policy</a>
        </p>
      </div>
    </footer>
  </div>
  <script type="text/javascript" src="main.min.js"></script>
</body>
</html>
